.choices-form-wrapper {
    opacity: 0;
    transition:opacity .7s linear;
    background: rgba(black, .7);
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.choices-form{
    display: inline-block;
    text-align: center;
    width: 3.2rem;
}
.choices-form-show {
    margin-bottom: 1rem;
}
.choices-form-card-wrapper {
    position: absolute;
    right: 16rem;
}
.choices{
    font-size: 1rem;
    padding: 0;
    background-color: inherit;
    color: $font-color;
    border: none;
    transition: all 500ms ease;
    &:hover, &:focus{
        transform: scale(1.2);
        transition: all 500ms ease;
    }
}

.favourites:hover, .favourites:focus, .favourites-delete{
    color: $third-color;
}

.later:hover, .later:focus, .later-delete{
    color: $second-color;
}

.watched:hover, .watched:focus, .watched-delete{
    color: $nutflux-color;
}
.text-button {
        font-family: Nunito;
        color : $second-color;
        margin-left: 1rem;
}
