.content-wrapper-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-wrapper{
    margin: 3rem 0;
}

.wrapper{
    padding: 3rem;
    background-color: $second-bg;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;

    h1{
        margin-top: 0;
    }
}

.site-title{
    color: $nutflux-color;
    font-family: Nunito;
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0 0 3rem 0;
    text-align: center;
    letter-spacing: 1rem;
}

.input-wrapper, .guest-form .container-button{
    margin: 2rem 0;
}

.guest-form{
    .btn{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

.input-label{
    display: block;
    margin: 0.8rem 0;
}

.input-field{
    width: 100%;
    padding: 0.8rem 0.5rem;
    color: $color-form;
    background-color: $back-form;
    border-radius: 10px;
    border: none;
}

.image-picker{
    display: inline-block;
    margin-right: 2rem;
    &:last-child{
        margin-right: 0;
    }
}

.image-picker-content{
    max-width: 4rem;
    border-radius: 10px;
    border: 2px solid $second-bg;
    transition: border 250ms ease;

    &:hover{
        border-color: $third-color;
        transition: border 250ms ease;
    }
}

.selected-image{
    border: 2px solid $third-color;
}

.register-link{
    margin: 0;
}
