.media-list {
    background: $second-bg;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    img {
        height: 15rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 5px;
    }   
    a {
        text-decoration: none;
        p {
            font-family: Nunito;
            text-align: center;
            max-width: 10rem;
            &:hover {
                color: $nutflux-color;
            }
        }
    }
}

.media-list-item {
    padding: 2rem;
    transition-duration: .3;
    &:hover .choices-form-wrapper {
        opacity: 1;
    }
}
.poster {
    position: relative;
    transition: border 0.5s ease-in-out;
    &:hover {
        border : 2px solid $second-color;
        border-radius: 5px;
    }

}
.media-list a p {
    padding-top: 1rem;
}
.choices-list a p {
    padding: 1rem 0 3rem;
}
.media-card {
    padding: 2rem 1rem 2rem 2rem;
    background: $second-bg;
    border-radius: 3%;
    img {
        height: 15rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 1rem;
    }   
    a {
        text-decoration: none;
        p {
            font-family: Nunito;
            text-align: center;
            padding: 2rem 0;
            max-width: 10rem;
            &:hover {
                color: $nutflux-color;
            }
        }
    }
    .row1, {
        display: flex;
    }
    .row1-column1 {
        img {
            float: left;
        }
        .summary {
            padding-right: 2rem;
            p {
                overflow-y: auto;
                min-height: 13rem;
            }
        }
    }
    .trailer {
        width: 25rem;
        height: 14rem;
        border-radius: 8px;
        overflow: hidden;
    }
    .row2 {
        h2 {
            margin-bottom: 2rem;
        }
        p {
            padding : 0 2rem 1rem 0;
            text-align: left;
        }

        .actors-list {
            display: flex;
            img {
                height: 8rem;
                width: 5rem;
            }
        }
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .top {
        margin-top: 2rem;
    }
    
}
.actors-choices-wrapper {
    display: flex;
}