//Reset Eric Meyer
@import 'reset';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Alegreya');

// Variables
@import 'variables';

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
};

body, html {
  @include scrollbars(0.3rem, $second-color, #282828);
  background: $background;
  font-family: Nunito;
  color: $font-color;
  a {
    color: $font-color;
  }
  a:hover, a:active {
    color: $nutflux-color;
  }
  input {
    color: $font-color;
  }
}

h1, h2, .list-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}
h1, .list-title {
  font-family: Alegreya;
  color: $second-color;
}
h2 {
  font-family: Nunito;
  color: $third-color;
}
h3 {
  font-weight: bold;
  padding-bottom: 1rem;
}
.content {
  width: 80%;
  margin: 3rem auto;
}

.breadcrump {
  color: $second-color;
  a {
    color: $second-color;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.space {
  margin-bottom: 2rem;
  justify-content: space-evenly;
}
.btn {
  border-radius: 28px;
  background-color: $third-color;
  width: 10rem;
  height: 3rem;
  text-align: center;
  color: aliceblue;
  border: none;
  font-size: 0.8em;
  text-decoration: none;
  &:hover {
      background: $second-color;
      color: $back-form;
      font-style: bold;
  }
};

// import nav-menu sass
@import 'nav-menu';

//import sass for medias
@import 'medias';

@import 'choices-buttons';

@import 'guest-forms';

@import 'actors';

// import users sass
@import 'users';
