@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);@import url(https://fonts.googleapis.com/css?family=Alegreya);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav-menu {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5rem 1rem;
  font-size: 1.3rem;
  font-family: Nunito;
  text-transform: uppercase;
  max-height: 2rem;
}

.nav-menu .nutflux a {
  color: #E57255;
}

.nav-menu .nutflux a:hover {
  color: rgba(70, 189, 223, 0.9);
}

.nav-menu a {
  text-decoration: none;
  padding: 0rem 1rem;
}

.nav-menu i {
  color: #9FA3A4;
}

.nav-menu form {
  text-align: right;
}

.nav-menu button {
  background: #282828;
  border: none;
  font-size: 1.3rem;
  font-family: Nunito;
  text-transform: uppercase;
  color: #9FA3A4;
  cursor: pointer;
}

.nav-menu button:hover {
  color: #E57255;
}

.nav-menu .searchfield input {
  border-radius: 0.7rem;
  background: #4A4A4A;
  border: none;
  padding: 0.5rem;
  margin-top: -1rem;
}

.nav-menu .searchfield button {
  background: #282828;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 13rem;
}

.dropdown-child {
  display: none;
  background-color: #282828;
  min-width: 13rem;
  padding-top: 1.7rem;
  z-index: 100;
  position: relative;
}

.dropdown-child a {
  padding: 0.8rem;
  text-decoration: none;
  display: block;
}

.dropdown-child li a:hover {
  background: #E57255;
  color: #282828;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.media-list img {
  height: 15rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-right: 3rem;
}

.media-list img:hover {
  border: 3px solid rgba(70, 189, 223, 0.9);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.media-list a {
  text-decoration: none;
}

.media-list a p {
  font-family: Nunito;
  text-align: center;
  padding: 2rem 0;
  max-width: 10rem;
}

.media-list a p:hover {
  color: #E57255;
}

.media-card {
  padding: 2rem 1rem 2rem 2rem;
  background: #282828;
  border-radius: 3%;
}

.media-card img {
  height: 15rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-right: 3rem;
}

.media-card img:hover {
  border: 3px solid rgba(70, 189, 223, 0.9);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.media-card a {
  text-decoration: none;
}

.media-card a p {
  font-family: Nunito;
  text-align: center;
  padding: 2rem 0;
  max-width: 10rem;
}

.media-card a p:hover {
  color: #E57255;
}

.media-card iframe {
  border-radius: 8px;
}

.media-card .media-trailer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-laravel {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body,
html {
  background: #4A4A4A;
}

body a,
html a {
  color: #9FA3A4;
}

body a:hover,
body a:active,
html a:hover,
html a:active {
  color: #E57255;
}

h1,
h2,
.list-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h1,
.list-title {
  font-family: Alegrey;
  color: rgba(70, 189, 223, 0.9);
}

h2 {
  font-family: Nunito;
  color: #E95065;
}

.content {
  width: 80%;
  margin: 3rem auto;
}

