@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);@import url(https://fonts.googleapis.com/css?family=Alegreya);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  background: #4A4A4A;
  font-family: Nunito;
  color: #9FA3A4;
}

body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

body ::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
  background: rgba(70, 189, 223, 0.9);
}

body ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track {
  background: #282828;
}

body body,
html body {
  scrollbar-face-color: rgba(70, 189, 223, 0.9);
  scrollbar-track-color: #282828;
}

body a,
html a {
  color: #9FA3A4;
}

body a:hover,
body a:active,
html a:hover,
html a:active {
  color: #E57255;
}

body input,
html input {
  color: #9FA3A4;
}

h1,
h2,
.list-title {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h1,
.list-title {
  font-family: Alegreya;
  color: rgba(70, 189, 223, 0.9);
}

h2 {
  font-family: Nunito;
  color: #E95065;
}

h3 {
  font-weight: bold;
  padding-bottom: 1rem;
}

.content {
  width: 80%;
  margin: 3rem auto;
}

.breadcrump {
  color: rgba(70, 189, 223, 0.9);
}

.breadcrump a {
  color: rgba(70, 189, 223, 0.9);
}

.nav-menu {
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 5rem 1rem;
  font-size: 1.3rem;
  font-family: Nunito;
  text-transform: uppercase;
  max-height: 2rem;
}

.nav-menu .nutflux a {
  color: #E57255;
}

.nav-menu .nutflux a:hover {
  color: rgba(70, 189, 223, 0.9);
}

.nav-menu a {
  text-decoration: none;
  padding: 0rem 1rem;
}

.nav-menu i {
  color: #9FA3A4;
}

.nav-menu form {
  text-align: right;
}

.nav-menu button {
  background: #282828;
  border: none;
  font-size: 1.3rem;
  font-family: Nunito;
  text-transform: uppercase;
  color: #9FA3A4;
  cursor: pointer;
}

.nav-menu button:hover {
  color: #E57255;
}

.nav-menu .searchfield input {
  border-radius: 0.7rem;
  background: #4A4A4A;
  border: none;
  padding: 0.5rem;
  margin-top: -1rem;
}

.nav-menu .searchfield button {
  background: #282828;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 13rem;
}

.dropdown-child {
  display: none;
  background-color: #282828;
  font-size: 1rem;
  border-radius: 5px;
  min-width: 13rem;
  padding-top: 1.7rem;
  z-index: 100;
  position: relative;
}

.dropdown-child .shadow {
  -webkit-box-shadow: 9px 16px 13px -12px black;
          box-shadow: 9px 16px 13px -12px black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -2px;
  border-radius: 5px;
  z-index: -1;
}

.dropdown-child a {
  padding: 0.8rem;
  text-decoration: none;
  display: block;
}

.dropdown-child li a:hover {
  background: #E57255;
  color: #282828;
}

.dropdown-child li:last-child a:hover {
  border-radius: 0 0 5px 5px;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.media-list {
  background: #282828;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.media-list img {
  height: 15rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.media-list a {
  text-decoration: none;
}

.media-list a p {
  font-family: Nunito;
  text-align: center;
  max-width: 10rem;
}

.media-list a p:hover {
  color: #E57255;
}

.media-list-item {
  padding: 2rem;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.media-list-item:hover .choices-form-wrapper {
  opacity: 1;
}

.poster {
  position: relative;
  -webkit-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
  border: 2px solid #282828;
  border-radius: 5px;
}

.poster:hover {
  border: 2px solid rgba(70, 189, 223, 0.9);
  -webkit-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}

.media-list a p {
  padding-top: 1rem;
}

.choices-list a p {
  padding: 1rem 0 3rem;
}

.media-card {
  padding: 2rem 1rem 2rem 2rem;
  background: #282828;
  border-radius: 8px;
}

.media-card .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media-card img {
  height: 15rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-right: 1rem;
}

.media-card a {
  text-decoration: none;
}

.media-card a p {
  font-family: Nunito;
  text-align: center;
  padding: 2rem 0;
  max-width: 10rem;
}

.media-card a p:hover {
  color: #E57255;
}

.media-card .summary {
  padding-right: 2rem;
}

.media-card .summary p {
  overflow-y: auto;
  min-height: 13rem;
}

.media-card .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media-card .row1-column1 img {
  float: left;
}

.media-card .trailer {
  width: 25rem;
  height: 14rem;
  border-radius: 8px;
  overflow: hidden;
}

.media-card .row2 h2 {
  margin-bottom: 2rem;
}

.media-card .row2 p {
  padding: 0 2rem 1rem 0;
  text-align: left;
  max-width: 6rem;
  min-height: 2rem;
}

.media-card .row2 .actors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media-card .row2 .actors-list img {
  height: 8rem;
  width: 5rem;
}

.media-card .left {
  float: left;
}

.media-card .right {
  float: right;
}

.media-card .top {
  margin-top: 2rem;
}

.actors-choices-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.text-left {
  text-align: justify !important;
  padding-top: 0 !important;
  width: 100%;
  max-width: 50% !important;
}

.search-title {
  margin: 2rem 0 1rem;
}

.choices-form-wrapper {
  opacity: 0;
  -webkit-transition: opacity .7s linear;
  transition: opacity .7s linear;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choices-form {
  display: inline-block;
  text-align: center;
  width: 3.2rem;
}

.choices-form-show {
  margin-bottom: 1rem;
}

.choices-form-card-wrapper {
  position: absolute;
  right: 16rem;
}

.choices {
  font-size: 1rem;
  padding: 0;
  background-color: inherit;
  color: #9FA3A4;
  border: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.choices:hover,
.choices:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.favourites:hover,
.favourites:focus,
.favourites-delete {
  color: #E95065;
}

.later:hover,
.later:focus,
.later-delete {
  color: rgba(70, 189, 223, 0.9);
}

.watched:hover,
.watched:focus,
.watched-delete {
  color: #E57255;
}

.text-button {
  font-family: Nunito;
  color: rgba(70, 189, 223, 0.9);
  margin-left: 1rem;
}

.content-wrapper-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-wrapper {
  margin: 3rem 0;
}

.wrapper {
  padding: 3rem;
  background-color: #282828;
  border-radius: 30px;
  width: 60%;
  margin: 0 auto;
}

.wrapper h1 {
  margin-top: 0;
}

.site-title {
  color: #E57255;
  font-family: Nunito;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0 0 3rem 0;
  text-align: center;
  letter-spacing: 1rem;
}

.input-wrapper,
.guest-form .container-button {
  margin: 2rem 0;
}

.guest-form .btn {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.input-label {
  display: block;
  margin: 0.8rem 0;
}

.input-field {
  width: 100%;
  padding: 0.8rem 0.5rem;
  color: #C7B7B6;
  background-color: #353535;
  border-radius: 10px;
  border: none;
}

.image-picker {
  display: inline-block;
  margin-right: 2rem;
}

.image-picker:last-child {
  margin-right: 0;
}

.image-picker-content {
  max-width: 4rem;
  border-radius: 10px;
  border: 2px solid #282828;
  -webkit-transition: border 250ms ease;
  transition: border 250ms ease;
}

.image-picker-content:hover {
  border-color: #E95065;
  -webkit-transition: border 250ms ease;
  transition: border 250ms ease;
}

.selected-image {
  border: 2px solid #E95065;
}

.register-link {
  margin: 0;
}

.actor-card {
  background: #4A4A4A;
}

.actor-card img {
  height: 15rem;
  width: 10rem;
  border-radius: 5px;
}

